extends base.pug

block style 
    style
        include ../public/css/blog.css

block content 
    // Contact Information
    section.art-section
        h2 Connect With Us
        p.highlight Have questions? We'd love to hear from you! Reach out to our team at support@artfusion.com